
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
body {
    font-family: "Nanum Gothic";
    }
section {
    width:250px;
    height: 270px;
    padding: 25px;
    margin: 100px auto;
    text-align:center;
    border-radius: 15px;
    border: 1px solid #ddd;
    vertical-align: middle;
    }
hr {size: 1px;}
.form_title {
    color: #555;
    font-weight: bold;
    font-size: small; 
    text-align: right;
    margin: 30px 15px;}
.form {margin-top: 20px;}
input[type=text], input[type=password] {
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 10px; 
    height: 25px;
    width: 200px;
    border: 1px solid #EDD8BB;
    border-radius: 15px;}
input::placeholder { color: #ccc;} 
input:focus {
    outline: none;
    border: 1px solid #E2AA87;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #E2AA87;}
input[type=submit] {
    margin-top: 10px;
    width: 215px;
    height: 37px;
    border: hidden;
    color: white;
    background-color: #EDD8BB;
    }
input[type=submit]:hover{
    color: #E2AA87;
    background-color: #FEF7E1;
    border-radius: 19px;
    border: 2px solid #E2AA87;
    box-shadow: 1px 1px 1px #E2AA87;
}