
#container { width: 400px; margin: 0 auto; font-size: 0.8em;}
h3 { text-align: center;}
table { width: 100%; border: 1px solid gray; border-collapse: collapse;
border-top: 2px solid navy; border-bottom: 2px solid navy; border-left: hidden; border-right: hidden;}
th, td { border: 1px solid gray;}
tr { height: 35px;}
th { background-color: rgba(100, 100, 200, 0.15); font-weight: normal;}
td { background-color: rgba(50, 50, 200, 0.05);}
input, textarea, select { margin-left: 5px;}

#writer { border: none; outline: none;}
#btn { width: 80px; height: 27px; border: none; line-height: 20px; cursor: pointer;
background-color: rgba(100, 100, 200, 0.9); color: white; padding: 5px;}
#btn:hover { background-color: rgba(100, 100, 200, 0.3); color: navy; font-weight: bold;}









